<% content_for :page_title do %>
<title>Star Wars Tools - Browse Crawls</title>
<% end %>

<div class="col-lg-12" style="max-width: 800px">
	<table class="table table-hover table-bordered">
		<tr>
			<th>Crawl Name</th>
		</tr>
		<% @crawls.each do |crawl| %>
		<tr>
			<td>
				<a href="/crawls/view/<%= crawl.name %>"><%= crawl.name_verbose %></a>
			</td>
		</tr>
		<% end %>
	</table>
	<div class="row">
		<div class="col-lg-3">
			<% if @offset > 10 %>
				<a href="/crawls/view/all" class="btn btn-default" role="button">&#60;&#60;&#60;</a></button>
			<% end %>
		</div>
		<div class="col-lg-3">
			<% if @offset > 0 %>
				<a href="/crawls/view/all?offset=<%= @offset-10 > 0 ? @offset-10 : 0 %>" class="btn btn-default" role="button">&#60;</a>
			<% end %>
		</div>
		<div class="col-lg-3">
			<% if @num_crawls > (@offset + 10) %>
				<a href="/crawls/view/all?offset=<%= (@offset+10) %>" class="btn btn-default" role="button">&#62;</a>
			<% end %>
		</div>
			<div class="col-lg-3">
			<% if @num_crawls > (@offset + 20) %>
				<a href="/crawls/view/all?offset=<%= @num_crawls-(@num_crawls%10) %>" class="btn btn-default" role="button">&#62;&#62;&#62;</a></button>
			<% end %>
		</div>
	</div>
</div>